* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    color:rgb(252, 252, 252);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;

}

header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color:rgb(252, 252, 252);
}

form button {
  color: #8EC5FC;
  background:; white;
  cursor: pointer;
  transition: all 0.5s ease;

}

form button:hover {
    background:#8EC5FC; 
    color: white;
}